.container
    header.main-header.d-flex.align-items-center
        h1.main-header__title.m-0.p-0.me-5 Estore
        nav.main-header__nav
            ul.main-header__nav-list.d-flex.list-unstyled.m-0.p-0
                li.main-header__nav-item
                    a.p-3.main-header__nav-link(href='/') Home
                li.main-header__nav-item
                    a.p-3.main-header__nav-link(href='/category') Category
                li.main-header__nav-item
                    a.p-3.main-header__nav-link(href='/category/laptops') Laptops
                li.main-header__nav-item
                    a.p-3.main-header__nav-link(href='/category/phones') Phones